body {
	color: #3f3f3f;
	font-family: sans-serif;
	font-weight: 500;
	margin: 10px;
	padding: 0;
}
#header {
	margin: 0;
	padding: 0;
}
#header h2 {
	color: #606060;
	cursor: default;
}
#header h2 small {
	color: #cccccc;
	font-size: 0.5em;
	position: absolute;
	top: 1%;
	right: 1%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#toggle-field > #toggle {
	visibility: hidden;
	position: absolute;
}
#toggle-field > label {
	cursor: pointer;
	font-size: 1.5em;
}
#toggle-field > #toggle ~ label:after {
	content: 'No bonus (click to toggle)';
	font-size: 0.9em;
}
#toggle-field > #toggle:checked ~ label:after {
	content: 'Bonus';
}
#bonus-field {
	display: none;
}
#submit {
	float: right;
	outline: 0;
}
.tab-content {
	opacity: 0;
}
.tab-pane {
	padding: 1%;
}
.table {
	margin-left: -10px;
	margin-right: -10px;
}
#footer small {
	font-size: 1em;
	position: fixed;
	bottom: 0.5%;
	left: 0.5%;
	box-shadow: 0px 0px 15px #ffffff;
	background: rgba(255, 255, 255, 0.6);
}
.print {
	float: right;
}
@media print {
	.printfocus {
		position: fixed;
		top: 0;
		left: 5px;
		width: 100%;
		background: #f0f0f0;
		z-index: 2;
	}
	#header, #footer, #form, .nav-tabs, hr {
		display: none;
	}
}